node-data/
/node-data
/.logs
/target
store.sqlite3
/webclient/node_modules
/keystore
/store.sqlite3
store.sqlite3
/.claude
CLAUDE.md
/deployments

# Environment variables
.env

old_test

old_Src

node/*